alembic>=1.13
fastapi[standard]
pydantic-settings
prometheus-client>=0.20
PyYAML>=6
python-dotenv
openai
requests
redis[hiredis]>=5.2,<6
aiohttp
asyncpg>=0.29
celery[redis]>=5.4
httpx
pandas
numpy
faiss-cpu
sentence-transformers
SQLAlchemy[asyncio]>=2.0
uvicorn[standard]
